/.vs/*
/MuserUI/bin/*
/MuserUI/obj/*
/TolltechCore/bin/*
/TolltechCore/obj/*
/PostgreEF/bin/*
/PostgreEF/obj/*
/SqlEF/bin/*
/SqlEF/obj/*
/Serialization/obj/*
/Serialization/bin/*
/TollMuser/obj/*
/TollMuser/bin/*
/Privacy/privacy.txt
/TestsNetCore/bin/*
/TestsNetCore/obj/*
/YandexClient/bin/*
/YandexClient/obj/*
/WebMuser.sln.DotSettings.user
/.idea/.idea.WebMuser/.idea/*
/.idea/*
/MuserUI/node_modules/*
