@model Tolltech.MuserUI.Models.Sync.InputTracksModel
<form id="tracksInputForm" asp-action="GetInputTracks" asp-controller="Sync"
      data-ajax="true"
      data-ajax-method="GET"
      data-ajax-mode="replace"
      data-ajax-success="InputSuccess(data)"
      data-ajax-failure="InputFail()"
      data-ajax-update="#inputTracks">
    <div>
        @Html.TextAreaFor(x => x.Text, new {id = "inputAudioStr", style = "width:100%"})
    </div>
    <input type="submit" value="Распарсить треки" class="btn btn-outline-dark"/>
</form>