<form asp-action="GetInputTracksFromFile" asp-controller="Sync" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile"/><br>
    <input type="submit" value="Загрузить" class="btn btn-outline-dark"/>
</form>