@model string

<h2>Информация о пользователе</h2>

<div>@Model</div>

<form id="logoutFormId" asp-controller="Account" asp-action="Logout" method="post" role="form">
    <div>
        <button type="submit">Сменить пользователя</button>
    </div>
</form>