@model Tolltech.MuserUI.Models.Sync.ProgressModel

<div class="common">
    <span>
        <label>@Model.Processed</label>
        <label>/</label>
        <label>@Model.Total</label>
    </span>
    <input type="hidden" value="@Model.Left" id="leftProgressInput">
</div>