@model Tolltech.MuserUI.Models.SyncWizard.ProgressWithUrlModel

@{
    ViewBag.Title = "TollMuser.Импорт";
    Layout = "_Layout";
}

<div id="errorDiv" style="display: none">
    <label style="color: red">Что-то пошло не так</label>
</div>
<div id="playListLinkDiv" style="display: none">
    <a href="@Model.YandexPlaylistUrl">Проверить плейлист</a>
    <div>
        <a href="@Url.Action("ReImport", new {sessionId = Model.SessionId})">
            <input id="toReimportButton" type="button" value="Доимпортировать" class="btn btn-outline-dark"/>
        </a>
    </div>
</div>

<div id="importProgressDiv">
    @await Html.PartialAsync("ImportProgressPartial", Model.Progress)
</div>

<form asp-action="GetImportProgress" asp-controller="SyncWizard"
      data-ajax="true"
      data-ajax-method="GET"
      data-ajax-mode="replace"
      data-ajax-update="#importProgressDiv"
      data-ajax-success="ProgressIteration()"
      data-ajax-failure="ProgressFail()"
      id="getProgressForm">

    <input type="hidden" value="@Model.Progress.Id" name="progressId"/>
</form>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#getProgressForm').submit();
        });

        function ProgressIteration() {
            $('#errorDiv').hide();
            var importLogsSaved = $('#importLogsSavedInput').val();
            if (importLogsSaved > 0) {
                $('#playListLinkDiv').show();
                $('#toReimportButton').click();
            } else {
                setTimeout(() => $('#getProgressForm').submit(), 100);
            }
        };

        function ProgressFail() {
            $('#errorDiv').show();
            $('#getProgressForm').submit();
        };
    </script>
}